* {
    margin: 0;
    padding: 0;
}

.maindiv{
    height: 600px;
    width: 100%;
    background-image: url(para-.jpg);
    clip-path: polygon(0% 0%, 100% 0, 100% 60%, 50% 80%, 0 60%);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color:#Fff;
    position: relative;
}
.navbar{
    height: 50px;
    width: 100%;    
    display: flex;
    text-align: center;
    justify-content: center;          
    justify-content: space-evenly;
    align-items: center;
}

.maindiv ul {
    display: flex;
    gap: 60px;
    text-align: center;
}
.navbar  li {
    list-style: none;
}
.mainnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-top: 30px;
}

.button{
    padding-top: 20px;
}
#bone{
    padding: 10px 20px;
    background-color: transparent;
    border: 1.5px solid #fff;
    color: #fff;
}
#btwo{
    padding: 10px 40PX;
    border: 1.5px solid #fff;
    background-color: transparent;
    color: #fff;
    margin-left: 10px;
}

#bone:hover{
   background-color: rgb(216, 101, 59);
}
#btwo:hover{
   background-color: rgb(216, 101, 59);
}
#lorem{
    padding-top: 30px;
}
.border{
    display: flex;
    gap: 20px;
    padding-left: 150px;
    text-align: center;
}
#h2{
    border-bottom: 3px solid #fff;
    width: 100px;
}
#h22{
    border-bottom:3px solid #fff;
    width: 100px;
}
.logo{
    border:1px solid #fff;
}
.logo::first-letter{
    background-color: #fff;
    color:black;
    padding-right: 10px;
    font-weight: bold
}

.child{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:white;
    position: absolute;
    color:orangered;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 440px;
    left: 610px;
}